.card-img{
  min-width: 100vh;
  min-height: 100vh;

}

/*.card-img-overlay{
    position: absolute;
    color: white;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}*/

.nav{
    background-color: #2F4F4F;
}

